{% load static %}
<html>
<head>
{% block test %}
{% endblock test %}
<link href="{% static 'blog/style.css.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top" text-align:"center">
<h1>BLOGS</h1></div>
<div id="menu">
<a href="{% url 'blog-home' %}">Home</a>
<a href="{% url 'blog-about' %}">About Us</a>
{% if user.is_authenticated %}
		<a style="float:right" href="{% url 'logout' %}">Logout</a>
{% else %}
		<a style="float:right" href="{% url 'register' %}">Sign Up</a>
		<a style="float:right" href="{% url 'login' %}">Login</a>
{% endif %}

</div>
<div id="left">
{% if messages %}
		{% for i in messages %}
			<div id="flash_message" style="background-color:yellow; padding:10px;">
				{{ i }}
			</div>
		{% endfor %}
{% endif %}		
{% block content %}
{% endblock content %}</div>
</div id="right"></div>
<div id="footer">&copy; 
blog About Language computer languages</div>
</body>
</html>